/* App.css */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  /* background-color: var(--bg-color); */
}

.App-header {
  text-align: center;
}

.sun-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.smiling-sun {
  width: 150px; /* Adjust size as needed */
  height: auto;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
