/* App.css */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black; /*Default theme */
  color: white; /* Default theme */
  /* position: relative; Ensure proper positioning of the overlay */
  transition: background-color 2s, color 2s; /* Add transition for smooth color change */
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  /* background-color: var(--bg-color); */
}

.overlay {
  background-color: rgb(3, 7, 31);
  width: 99%;
  height: 100vh;
  position: absolute;
  top: 10%;
  left: 2px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  box-shadow: 0 -5px 20px -5px rgba(255, 215, 0, 0.8);
}

.App-header {
  text-align: center;
}

.image-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 50px 0;
  transition: transform 2s; /* Add transition for smooth image change */
}

.outer-circle {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.center-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 10px solid transparent;
  border-radius: 50%;
  transition: background-color 2s ease; /* Add transition for smooth image change */
  position: relative;
}

.light-border .center-circle {
  background-color: beige;
  transition: background-color 2s;
  animation: counter 5s linear infinite;
}
@keyframes counter {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}

.dark-border .center-circle {
  background-color: #000;
  transition: background-color 2s;
}

.light-border .outer-circle {
  background: linear-gradient(180deg,darkgoldenrod,red,blue);
  transition: background 2s;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.dark-border .outer-circle {
  background-color: #fff;
  transition: background 2s; 
}


/* Hide the image when transitioning */
.image-container img.hide {
  opacity: 0;
}

.image-container img {
  opacity: 1; /* Start with full opacity */
  transition: opacity 1s; /*Add transition for smooth opacity change */
}

.smiling-sun,
.dreamy-moon {
  width: 98%; /* Adjust size as needed */
  height: 98%;
  position: absolute;
  /* left: 50%; */
  /* top: 50%; */
  /* transform: translate(-50%, -50%); */ 
}

