.menu {
    position: fixed;
    bottom: 0;
    margin-bottom: 5px;
    width: 90%;
    background-color: #242424;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px darkgoldenrod;
    border: solid darkgoldenrod .5px;
    border-radius: 25px;
  }
  
  /* .menu-icon {
    width: 40px;  /Adjust size for mobile view 
    height: 40px;
  }
   */

   .menu-icon {
    flex: 1;
    text-align: center;
    cursor: pointer;
  }

  .menu-icon img {
    /* width: 100%;
    height: auto; */
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
  }

  .menu-icon.active {
    background-color: rgb(0, 0, 0, .5);
    border-radius: 10px;
    padding: 4px 1px 4px 1px;
  }

  .menu-icon.active img {
  transform: scale(1.1);
  filter: invert(100%);
}
  